<span class="title outlined-text">What topic is your group interested?</span>

<%= form_for [@group, @topic] do |f|%>

  <div>
    <%= f.label :title, class: "outlined-text" %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit "Create Topic", class: "btn btn-primary btn-marg-5" %>
  </div>

<% end %>
