What topic(s) is/are your group interested?

<%= form_for [@group, @topic] do |f|%>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %> 
  </div>

  <div>
    <%= f.submit "Create Topic" %>
  </div>
<% end %>