<%= form_for @group do |f|%>

  <div>
    <%= f.label :name, class: "outlined-text" %><br />
    <%= f.text_field :name, :autofocus=>true %>
  </div>

  <div>
    <%= f.submit "Create Group", class: "btn btn-primary btn-marg-5" %>
  </div>
<% end %>
