<% @possible_availability_matches.each do |avail| %>
		Username: <% user_helper(avail).handle %>
		Day: <% hour_helper(avail)[:day] %>
		Hour: <% hour_helper(avail)[:hour] %>
		Topic: <% topic_helper(avail).title %>
	<% end %>
<!-- , group_potential_pairs_path(@group) -->
<%= @possible_availability_matches.each do |avail| %>
<p><%= avail %></p>
<% end %>
